**/target/
.project
*.jar
*.war
*.ear
*.class
*.log
*.releaseBackup

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

*/.gitignore
*.factorypath
