<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./admin/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="./admin/css/crud-admin.css" />
  </head>
  <body ng-app="myApp" ng-init="initialise()">        
  
 	<nav class="navbar">
  		<a href="#/" class="navbar-left">
	        <img src="admin/img/logo.png" width="60px"/>
	    </a>	   
	    <h3>&nbsp;CRUD Aministration application</h3>			   		
	</nav>
	<div class="container-fluid">
	<div class="row">
	  <div class="col-md-2">
		  <ul class="entity">
#foreach($entity in ${entities})
  <li><a href="#/${entity.uncapitName}">${entity.name}</a></li>
#end
	</ul>
	    </div>
	  <div class="col-md-10"><div ng-view></div></div>
	</div>
	</div>
	
    <script src="admin/libs/angular.min.js"></script>   
    <script src="admin/libs/angular-resource.min.js"></script>
    <script src="admin/libs/angular-route.min.js"></script>
    <script src="admin/libs/lodash.min.js"></script>
    <script src="admin/js/app.js"></script>
    <script src="admin/js/messages_handler.js"></script>
    <script src="admin/js/error_catcher.js"></script>
	<script src="admin/js/services.js"></script>
#foreach($entity in ${entities})
	<script src="admin/js/${entity.name.toLowerCase()}/${entity.name.toLowerCase()}_module.js"></script>
	<script src="admin/js/${entity.name.toLowerCase()}/${entity.name.toLowerCase()}_controller.js"></script>
#end
</body>
</html>