input:invalid {
	border: 1px solid red;
}

input:valid {
	border: 1px solid green;
}

.selected {
	cursor: pointer;
	color: blue;
	font-style: italic;
	font-weight: bold;
}

.create {
	line-height: 2.5;
	margin-top: 10px;
}

.navbar-nav {
	width: 100%;
	text-align: center; > li { float : none;
		display: inline-block;
	}
}